body {
    background-color: white;
    height: 100%;
    
 }
 
 .sidenav {
     background-color: lightgray;
     height: 100vh; 
 }
 
 .navbar {
     margin-bottom: 0;
     border-radius: 0;
 }
 
 #CenterPage {
     
 }
 
#IndexCenter {
    margin-top: 16%;
}

#OverzichtCenter {
    margin-top: 2%;
}

#FBimg:hover {
    filter: invert(15%);
}

#LesButton {
    width: 75%;
    margin-left: 25%;
}

#ProfileImage {
    border-radius: 10px 10px 10px 10px;
}

#Keuzes {
    text-align: left;
}

#JaNeeButton {
    width: 150px;
    height: 150px;
}

#MeerkeuzeAnswers {
    width: 100px;
    height: 30px;
    display: inline;
    margin: auto;
}

#Afbeeldingstream {
    max-width: 70%;
    max-height: 70%;
}

#kruisjes{
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: block;
    margin: auto;
    margin-top: 5%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}