body {
    background-color: white;
    height: 100%;
    
 }
 
 .sidenav {
     background-color: lightgrey;
     height: 100vh; 
 }
 
 .navbar {
     margin-bottom: 0;
     border-radius: 0;
 }
 
 #CenterPage {
     
 }
 
#IndexCenter {
    margin-top: 16%;
}

#OverzichtCenter {
    margin-top: 2%;
}

#FBimg:hover {
    filter: invert(15%);
}

#LesButton {
    width: 75%;
    margin-left: 25%;
}